<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorElementos</servlet-name>
        <servlet-class>Controlador.ControladorElementos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTrabajador</servlet-name>
        <servlet-class>Controlador.ControladorTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistros</servlet-name>
        <servlet-class>Controlador.ControladorRegistros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRelaciones</servlet-name>
        <servlet-class>Controlador.ControladorRelaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorExternos</servlet-name>
        <servlet-class>Controlador.ControladorExternos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorImg</servlet-name>
        <servlet-class>Controlador.ControladorImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorElementos</servlet-name>
        <url-pattern>/ControladorElementos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTrabajador</servlet-name>
        <url-pattern>/ControladorTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistros</servlet-name>
        <url-pattern>/ControladorRegistros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRelaciones</servlet-name>
        <url-pattern>/ControladorRelaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorExternos</servlet-name>
        <url-pattern>/ControladorExternos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorImg</servlet-name>
        <url-pattern>/ControladorImg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
